{% extends 'base.html.twig' %}

{% block title %}Nouveau propriétaire
{% endblock %}

{% block body %}
	<div class="container">
		<div class="jumbotron">
			<h1>Création d'un propriétaire</h1>
		</div>
		{{ include('owner/_form.html.twig') }}

		<a href="{{ path('owner_index') }}">Retourner à la liste des propriétaires</a>
	</div>
{% endblock %}
